.app {
  min-height: 100vh;
}

.app__main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 24px 48px;
}

@media (min-width: 1215px) {
  .app__main {
    padding-left: 0;
    padding-right: 0;
  }
}
